Button{
    -fx-background-color: transparent;
    -fx-min-height: 50px;
    -fx-min-width: 50px;
}
Button:pressed{
    -fx-background-color: grey;
}
HBox#songControlls{
    -fx-top-margin: 0;
    -fx-alignment: top-center;
}
Button.play{
    -fx-background-color: orange;
}