.progress-bar > .bar {
    -fx-background-color: grey;
}
HBox#progressBarWrapper {
    -fx-padding: 10px,0px,0px,0px;
    -fx-alignment: top-center;
    -fx-pref-width: 100%;
}

.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

Label{
    -fx-padding: 2px;
}